
.main-menu-container{
  display: grid;
  justify-content: center;
}

.cards-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  margin: 15px;
}

.card{
  border: 2px solid #000;
  padding: 10px;
}

.go-favs-button{
  max-width: 10vw;
}

.link-button{
  text-decoration: none;
  color: #000;
}

button:hover {
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
}

 /* .fade-pages-enter {
  opacity: 0;
}

.fade-pages-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}  */

.fade-pages-exit {
  opacity: 1;
}

.fade-pages-exit-active {
  opacity: 0;
  transition: opacity 800ms;
}  

 .move-cards-container-exit{
transform: translateX(0);
}

.move-cards-container-exit-active {
  transform: translateX(100%);
  transition: transform 400ms ease-in;
} 

.rotate-card{
  transform: rotate(0deg) scale(100%);
}

.rotate-card-exit-active{
  transform: rotate(-25deg) scale(90%);
  transition: transform 800ms ease-out;
}

.cards-down-enter{
  transform: translateY(-100%);
}

.cards-down-enter-active{
  transform: translateY(0);
  transition: transform 300ms ease-out;
}

.cards-down {
  transform: translateY(0);
}

.cards-down-exit-active {
  transform: translateY(100%);
  transition: transform 300ms ease-in;
} 

.scale-enter {
  transform: scale(0); /* Configura el estado inicial del componente al entrar */
}

.scale-enter-active {
  transform: scale(1); /* Configura el estado final del componente al entrar */
  transition: transform 500ms ease-in; /* Define la transición */
}

.scale-exit {
  transform: scale(1); /* Configura el estado inicial del componente al salir */
}

.scale-exit-active {
  transform: scale(0); /* Configura el estado final del componente al salir */
  transition: transform 500ms ease-out; /* Define la transición */
}

